 <!--
Salt Mountains and Pretty Birds
July 6, 2019
Gull Lake
Chaplin
143
-->

<p>
Today was all sun and heat. I love biking in the heat as I feel like a real traveller going through some foreign land. In the heat there is more water management as compared to rainy, cold weather. I had one water bottle and bottle holder on my bike for a total of 1L - I kept backup refill supplies (usually another 1.5L Nestle water bottle that I reused). I did not push myself too much today as I wanted to rest a little.
</p>

<p>
I stopped at Chaplain for the night. I could have biked further, but there was nothing ahead me for a while - it is often the case when biking. You have 20/30km you could squeeze out, but it is too late or there is nothing that is that close up ahead. At the campground, I talked to an old couple with an RV who were returning from an air show at Moose Jaw. Apparently it was poorly organized with long lines up and they decided to leave early. Next day as I was biking past Moose Jaw I saw some of the planes performing stunts in the distance.
</p>

<figure>
<img src="../images/13/IMG_1496.JPG" >
<figcaption>Can you feel the heat in this image?</figcaption>
</figure> 


<figure>
<img src="../images/13/IMG_1498.JPG" >
<figcaption>I expected more farmland but most of the stuff I biked past looked like grazing land for cows. Wind turbines in the background.</figcaption>
</figure> 

<figure>
<img src="../images/13/IMG_1500.JPG" >
<figcaption>Endless clouds! It is breathtaking. Saskatchewan - land of the living skies</figcaption>
</figure>


<figure>
<img src="../images/13/IMG_1506.JPG" >
<figcaption>The lake here was beautiful and had a unusual colour to it. There were lots of beautiful birds that I have never seen. Some of them flew beside me as I biked along.</figcaption>
</figure> 
 

<figure>
<img src="../images/13/IMG_1507.JPG" >
<figcaption>One of my best pics. The red, silver, white and endless clouds. The silo really stands out in front of the background.</figcaption>
</figure> 


<figure>
<img src="../images/13/IMG_1510.JPG" >
<figcaption>Boot on the fence. The cows killed a traveller and put up the boot as a warning.</figcaption>
</figure> 


<figure>
<img src="../images/13/IMG_1511.JPG" >
<figcaption>Salt near Chaplin...I think it's salt.</figcaption>
</figure> 



<figure>
<img src="../images/13/IMG_1512.JPG" >
<figcaption>With all the salt piles in the background, I felt like I was back in BC among the mountains.</figcaption>
</figure> 


<figure>
<img src="../images/13/IMG_1513.JPG" >
<figcaption>Before setting up my tent and dinner, I just lay on a bench and enjoyed the colours of my hand and the sky.</figcaption>
</figure> 



<img src="../images/13/mapday13.png">
