 <!--
Visiting Small Towns
July 7, 2019
Chaplin
Regina
155
--> 

<p>
I was excited today as I was done making the trek from Calgary across the great plains and was now approaching a big city. It's not that the trek was difficult (or that the plains were yet over), it was just that I was excited to hit a new milestone. 
</p>

<figure>
<img src="../images/14/IMG_1523.JPG" >
<figcaption>In the middle of nowhere near Parkberg I saw a sign with a gopher and the number 13. I was not sure what it was all about at the time as I don't watch football.</figcaption>
</figure> 

<p>
The weather was nice and hot. Soon after passing Parkberg, I got a flat tire. My fourth in five days! Boy was I pissed. All the flats were in my back tire. The back tire has the most weight on it and gets worn quick and mine was real worn. By this point I must have done around 2500km on the current set of tires and needed new ones. I got new pair (Continental gatorskin 700 and a Bontrager AW3) of 'puncture' proof (nothing is puncture proof) tires the next day in Regina for over 150 dollars  Canadian - jeeeez that price tag stings. I almost cracked at one of the staff working at the bike shop - what hills do they train on in Regina?
</p>

<p>
Soon I reached the town of Mortlach. A lot of towns you will pass are a few kilometres away from the highway far enough for you to not know what's going on there. Usually I pass them as I want to get as far as possible east and don't want to waste time. However, this time I was curious and I biked to the town. It was wonderful. I did not know such a small town can look so welcoming.
</p>

<figure>
<img src="../images/14/IMG_1530.JPG" >
<figcaption>Inside the local restuarant. I was not the first bicyclists to stop here as I found in the restroom. The restroom was filled with messages such as <a href="https://www.blogger.com/profile/11652187474644243999">Mark Wallis</a> biking from Argentina to Alaska or Harriett, Paul, Daniel cycling from Vancouver to Montreal on August 5th, 2016 </figcaption>
</figure> 

<figure>
<img src="../images/14/IMG_1534.JPG" >
<figcaption>Beautiful cloud.</figcaption>
</figure> 

<figure>
<img src="../images/14/IMG_1535.JPG" >
<figcaption>Cloud chasing me into Regina. I am aware that every second day so far I have claimed that a cloud is chasing me - I promise you that I'm not paranoid.</figcaption>
</figure> 

<p>
The closer I got to Regina, the busier the traffic. You can see Regina many kilometers away by the 3 (okay 10) mini skyscrapers in the distance. The city is nice, but I did not have much time to explore all of it. I enjoyed the city park and the various bike paths. I was impressed by the downtown area. I stopped at the Hi Hostel for two nights for my rest day(I left my charger there by accident and it ended up getting mailed home - great service!). The room I stayed in was empty - I paid 30 dollars a night to sleep like a king in the city! My rest day, I did some shopping and biking around town. I purchased splints for my hands as the carpal tunnel was starting to bother me. They helped me a little, but the major fix was for me to focus on making sure I keep my shoulders and arms relaxed while I bike.
</p>


<figure>
<img src="../images/14/IMG_1541.JPG" >
<figcaption>City views</figcaption>
</figure> 

<figure>
<img src="../images/14/IMG_1542.JPG" >
<figcaption>City views</figcaption>
</figure> 

<figure>
<img src="../images/14/IMG_1544.JPG" >
<figcaption>City views</figcaption>
</figure> 


<figure>
<img src="../images/14/IMG_1550.JPG" >
<figcaption>City views</figcaption>
</figure> 


<figure>
<img src="../images/14/IMG_1554.JPG" >
<figcaption>The Immigrant Recognition Sculpture Project</figcaption>
</figure> 

<figure>
<img src="../images/14/IMG_1561.JPG" >
<figcaption>City View</figcaption>
</figure> 

<figure>
<img src="../images/14/IMG_1562.png" >
<figcaption>Frederick Hill</figcaption>
</figure> 



<img src="../images/14/mapday14.png">
