 <!--
Crushing
July 10, 2019
Melville
Dauphin
214
-->   

<p>
Today was a record day in biking distance covered - 214km. One thing is for sure - sunlight gives you power and motivation to keep crushing. If you're given a sunny day - take advantage. I left Melville around 700 and arrived at my campsite around 2000. The roads were very empty today and I felt like I was exploring uncharted territory. The people I met and talked to today were kind and friendly!
</p>


<figure>
<img src="../images/16/IMG_1588.JPG" >
<figcaption>Foot golf? Soccer? I don't know. Leave me alone.</figcaption>
</figure> 

<figure>
<img src="../images/16/IMG_1589.JPG" >
<figcaption>One my favourite pics.</figcaption>
</figure> 

<figure>
<img src="../images/16/IMG_1594.JPG" >
<figcaption>The road to Yorkton. Although this is still Saskatchewan, this is good example of a good Manitoba road. Usually there are no shoulders. The shoulder pictured here is mostly gravely and cracked. When biking on roads with no shoulder I would bike in the right lane. If a car appeared behind me, I would start biking in the opposite lane given that there is no opposing traffic. I would switch back and forth for kilometres on end. Sometimes, there would be traffic going both ways and I would stop in the gravel. Not all drivers know how to pass or realize that one doesn't have to pass you going full speed and can instead slow down a little- this is why stopping in the gravel is a good idea sometimes.</figcaption>
</figure> 


<figure>
<img src="../images/16/IMG_1600.JPG" >
<figcaption>Cows are the most loyal audience. If you're not musically talented, this is your chance to feel like a rockstar.</figcaption>
</figure> 

<figure>
<img src="../images/16/IMG_1601.JPG" >
<figcaption>If you over do your singing, the cows might run away.</figcaption>
</figure> 

<figure>
<img src="../images/16/IMG_1603.JPG" >
<figcaption>A valley with a big lake - lost my cell phone signal here while calling a friend. Soon after, I got another flat.</figcaption>
</figure> 

<p>
Half way through the day I got a flat tire in my new new tires. It's all a consequence of riding with 25's - I would have gotten thicker ones but they wouldn't fit into my frame. A friendly old couple stopped as I was changing my tire and asked if I was all OK. Very kind of them. I was getting very fast at changing tires - most importantly I wasn't as upset anymore. Just drop the panniers, take out the tool kit...formula one pit stop. After fixing my bike, I noticed a strange ticking noise that would only sound when I was on the bike and only every few wheel revolutions. Eventually, I realized that was the spokes. While biking, you're always listening to what noises your bike is making. If something is wrong, you hear it right away. Usually it is one of the break pads touching the wheel, but this time it was a sound I did not know how to deal with. I needed to get to the next big town (Dauphin) and I needed my bike to get me there (spoiler alert: it got me there).
</p>


<figure>
<img src="../images/16/IMG_1606.JPG" >
<figcaption>Roblin</figcaption>
</figure> 

<figure>
<img src="../images/16/IMG_1608.JPG" >
<figcaption>Gilbert</figcaption>
</figure> 

<figure>
<img src="../images/16/IMG_1610.JPG" >
<figcaption>Orthodox church in Dauhpin</figcaption>
</figure> 




<img src="../images/16/mapday16.png">
