 <!--
Best and Worst Stretch of Road
July 13, 2019
Winnipeg Beach
Caddy Lake
186
-->     

<figure>
<img src="../images/19/IMG_1647.JPG" >
<figcaption>Camping on the beach. My view from my private campsite. My bag were always overflowing. </figcaption>
</figure> 

<figure>
<img src="../images/19/IMG_1649.JPG" >
<figcaption>Another view</figcaption>
</figure> 


<p>
I biked to Selkirk where I had lunch. For breakfast I purchased some butter tarts at a local grocery store in Winnipeg Beach whose shelves were all empty.
</p>

<p>
Out of Selkirk, I hit highway 44. It was super busy with a horrible shoulder. I stuck to the side service roads but those were sandy and thus difficult to bike through in my thin tires. Eventually, I made my way to Beausejour on Highway 215, where I had my second lunch. After lunch I was back on Highway 215 that merged back with Highway 44 and again I was on the crappy service road. Eventually, I hit the convenience store at Seddons Corner and had a jug of cold chocolate milk - the best treat. After the convenience store, the traffic was much lighter and I was comfortable with getting back on the road and sharing the road with the cars.
</p>

<figure>
<img src="../images/19/IMG_1656.JPG" >
<figcaption>The crappy side road. It is worse than it looks.</figcaption>
</figure>

<p>
Biking on Highway 44 I first encountered these big flies. I think they were horse flies, but I am not sure. They hung out with me a few times a day through all of northern Ontario. No matter what speed I was biking, a dozen of these flies would swarm me for half an hour a time and then leave me alone. They were super agile and impossible to hit or swat away. They always gave you the impression that they are just about to land on you and take a big bite. However, they never do. These flies are annoying when you are trying to share the road with cars and need to focus while they are flying past your eyes and ears. 
</p>

<figure>
<img src="../images/19/IMG_1661.png" >
<figcaption>Chasing my shadow. Around this point someone driving in the opposite direction stuck a middle finger at me - not sure why. On the road it was just me and him. However, shortly after, I got a friendly honk - my mood was back to happy.</figcaption>
</figure> 


<figure>
<img src="../images/19/IMG_1663.JPG" >
<figcaption>One my favourite town signs. Not as fancy as some of those in Quebec, but honest and most importantly full of humour.</figcaption>
</figure> 


Soon after Whitemouth, the road became unusually small and abandoned looking - as if I was the first one to be on the road in a long long time. The Ontario hills started to pick up and it was no longer flat. This was my favourite stretch of road as it was so empty and surprisingly wild looking. 

<figure>
<img src="../images/19/IMG_1665.JPG" >
<figcaption>The road to Caddy Lake</figcaption>
</figure> 

Eventually, I made it to Caddy Lake campground. I hung out with a couple and we talked about my travels. They were kind and let me borrow a lamp to sort my stuff and have dinner.


<img src="../images/19/mapday19.png">
