 <!--
Fall from grace. Man Murdered by Headwind.
July 17, 2019
Savanne River Resort
Thunder Bay
121
-->  
<p>
I woke up early in the morning, but the amount of mosquitoes resting on my tent forced me to wait till the sun rose a little higher. I got out of my tent, but these mosquito didn't care about the sun and wanted my blood. I packed up as fast as I could and had breakfast consisting of a few granola bars and a vitamin on the road - I had to do this often in northern Ontario (unless I went to a Timmies). Packing up usually takes 5 minutes as you've done most of the packing last night. Your clothes for the day are ready to go in your tent. The rest of your clothes, tools, items are already in one of your four panniers. All you have to do is stuff your sleeping bag in its bag, roll up the mattress into its bag, pickup your small tent, stuff the previous items into the panniers and then clip your panniers onto the racks and you are ready to go. Similarly, unpacking in the evening also takes very little time which allows you the comfort of biking as far as you can late into the afternoon. My front rack panniers contains my sleeping bag, mat and tent and setup takes little time for all that. The only bottleneck is the dinner (heating up the pot, cracking open those sardine cans...) and then shower and clean up. Dinner and clean up can be managed under 45 minutes.
</p>

<p>
No pictures today as it was mostly cloudy, rainy, windy and tiring. Today was a tough day as I covered little ground - 120km. After yesterday's trek I expected to go past Thunder Bay, but this was not the case. The headwind today was one of a kind and blowing right in my face. I encountered headwind or crosswind on a regular basis when biking across the provinces. However, since I don't have a odometer, it was hard for me to ever get upset at the wind too much as I could not associate my slow speed with the wind as easily. You still feel the wind and can tell that biking is more difficult and you may get a little annoyed, but there is no association of constantly seeing the odometer's 14km/h on flat ground and despair. For those claiming you need an odometer to see if you're going fast enough to make it to a certain destination on time - quit it, you're not a strategic bomber. In addition, ogling over your total distance travelled from day one is strange and obsessive - I've met people on the road who needed to count all the kilometres including for the tiniest of detours (don't worry - I've made sure to bust their balls over this). Nobody really cares about the kilometre count (even you) - I still don't know how far I've ridden (only once I finish writing up all the posts will I be able to add things up).
</p>

<p>
I didn't feel despair today, but was very annoyed. The wind blew directly in my face all day. On big downhills my speed was as if I was going on the flat and on flat it was as if I was going uphill and on uphill... Progress was slow and I must have been doing close to 10km an hour average even though I was putting in hard work. I got to Thunder Bay late in the afternoon and stopped at university residence hostel as I didn't want to be in the rain that night and wanted a break.
</p>


 <img src="../images/22/mapday22.png">
