 <!--
Smallest Canadian Tire
July 18, 2019
Thuner Bay
Nipigon
114
-->  


<p>
The university cafeteria was amazing - Ten dollars for all you can eat breakfast is a real treat.
</p>

<p>
I took my time leaving Thunder Bay. I talked to a senior who was also staying at the hostel for the night. He saw that I was bike touring and mentioned that he also had biked across Canada at one point. He was highly ecentric and very fun to talk to. One of the last things he told me is that he has an idea how to make super lightweight road bikes. He suggested to fill the frame with helium - it seemed a bit of a stretch to me.
</p>

<figure>
<img src="../images/23/IMG_1717.JPG" >
<figcaption>Terry Fox Monument</figcaption>
</figure> 

<p>
I biked out of Thunder Bay and right onto the highway that had a 'no bikes' allowed sign on the entry ramp. I continued briefly until I hit the Terry Fox monument. Terry Fox is a famous Canadian. He is famous for running across Canada and his determination to raise money and awarness for cancer research all while having lost a leg to cancer and still suffering from active cancer. The cancer eventually overpowered him and prevented him from him finishing his run - he stopped near Thunder Bay and soon died. Most schools and cities in Canada have an annual Terry Fox run every fall to continue his legacy.
</p>

<p>
I have been at a Terry Fox monument when I was a kid and I was excited to relive the chilhood memory. I remembered sitting in the car as we drove past it on the highway. I remember it being much closer to the road and much bigger. My memory was way off.
</p>

<figure>
<img src="../images/23/IMG_1718.JPG" >
<figcaption>View of Thunder Bay from near the Terry Fox monument. The Terry Fox monument is on a cliff with the highway below.</figcaption>
</figure> 


<figure>
<img src="../images/23/IMG_1722.JPG" >
<figcaption>Highway a bit past the Terry Fox monument.</figcaption>
</figure>

<p>
The ride on the highway was tough with many patches without proper shoulder. Progress was slow with less distance covered than the previous ride to Thunder Bay. I faced wind and at times rain. There were long patches of the highway with one lane in each direction and very heavy traffic. This is in my opinion one of the most dangerous stretches of road (<a href="https://nationalpost.com/news/canada/cross-canada-bike-trip-takes-tragic-turn-as-truck-kills-two-cyclists-in-northwest-ontario">deaths have occured here</a>).
</p>

<figure>
<img src="../images/23/23googlemap.png" >
<figcaption>The shoulder is very narrow - it can be difficult if you try your best to stay within the boundary because you're balancing while having cars zoom past you. With my thin 25 tires it is infeasible to bike on the gravel. Oftentimes I would stop to take a break, relax and wait for a lighter traffic behind me. <a href="https://www.google.ca/maps/@48.8014262,-88.5396262,3a,75y,152.14h,83.65t/data=!3m6!1e1!3m4!1sqc4ylswkOx4Bc3tLfiCIOA!2e0!7i16384!8i8192">Picture captured from google maps</a>  </figcaption>
</figure> 

<p>
At one point a driver going in the opposite direction gave me a middle finger. This is my second and last middle finger recieved on my trip.
</p>

<figure>
<img src="../images/23/IMG_1723.JPG" >
<figcaption>The road before Nipigon. It seems that there is road renovation between Thunder Bay and Nipigon - adding separate new roads for each direction flow. Good news!... Forget about the road. Look at the beautiful red cliffs!</figcaption>
</figure> 

<p>
I was headed to Nipigon. The advertisement before the town notified me that it contains the world's smallest Canadian Tire (maybe it said Canada's...little diference). I arrived there around 1700 and decided to stop for the night at the city campground. A person in the town noticed me biking in and followed me to the park in a truck. It ended up being the campground employee who had me pay a juicy 30 dollars for the night. A car/tent traveller drove by an hour later and got lucky and didn't pay. I asked the employee and he mentioned that in the last couple of weeks he had seen a many bicyclists!
</p>

<p>
The showers here were very nice! I camped under a gazebo in order to avoid the rain that night.
</p>



 <img src="../images/23/mapday23.png">
