<!--
Hilly Day in Ontario
July 19, 2019
Nipigon
Neys Provincial Park
160
-->  

<p>
I woke up and proceeded to kill the blood filled mosquitoes in my tent - they always manage to sneak in, but you can't let them have your blood. I had breakfast at Timmies and embarked on my journey. The morning was very foggy. I planned on reaching Schreiber (90km away). Yesterday's ride from Thunder Bay was barely over 100km so I figured I would face the same results today. In addition, the ride was expected to be very hilly. To Schreiber it was 1000m ascent and 930m descent - British Columbia numbers. However, the weather was nice and I was full of energy. I made it all the way to Neys Provincial Park for a total of 160km and 1470 ascent + 1480 descent.
</p>

<figure>
<img src="../images/24/IMG_1726.JPG" >
<figcaption>The new bridge near Nipigon. The road is beautifully paved but that is only near the bridge.</figcaption>
</figure> 

<figure>
<img src="../images/24/IMG_1728.JPG" >
<figcaption>The fog clearing up</figcaption>
</figure> 

<figure>
<img src="../images/24/IMG_1729.JPG" >
<figcaption>The fog retreated and took position over Lake Superior - looks like milk.</figcaption>
</figure> 

<p>
The bike ride was very hilly with a couple of big climbs ahead of me. The road was being repaired and was very bumpy. Near the second hill before Pays-Play I met a solo female bike rider heading in the opposite directions. 
</p>

<figure>
<img src="../images/24/IMG_1730.JPG" >
<figcaption>One of the climbs.</figcaption>
</figure> 

<p>
During the first leg of the trip, my panniers were full and hard to close. My yellow rain coat ended up falling out of my panier during the day. I drove a few hundred meters until I noticed a car driver heading in the opposite direction looking at me while pointing behind me. I looked behind me and noticed my coat laying on the ground. Thank you kind stranger! (Something similar happened to me near Montreal where I lost a flip flop).
</p>

<p>
I stopped for poutine at Schreiber at 1400 - under budget, ahead of schedule.
</p>

<p>
Eventually, I made it to Terrace Bay where I met a bicyclist. His name was Gram and he was 49 years old and from near Montreal. His bike was cool - he carried most of his stuff in a wagon type attachment on his bike. The small wheel supporting the wagon(box) lasted 1000km at a time. For security he had locks as well as a car alarm time system. Once his alarm was activated if you pushed or lightly moved his bike, his bike would make a loud warning beeping noise. If you continued moving the bike, then the full alarm would go off. A little extreme in my opinion. I carried a Kryptonite Evolution Series 4 lock which was heavy (almost 2kg) and I would usually lock the front wheel to the frame if I was grocery shopping and sleeping at night. I've met cyclists who carried dollar store level locks or even super lightweight Hiplock Z Lock. I don't know what the optimal solution here is. If you're going to a grocery store or camping for the night, chances of someone stealing your bike are low. However, in big cities the chances for getting your bike are much higher. I recall a year ago a homeless man biking up to me and my CCM and telling that my bike is nice and that I should better lock it up.
</p>

<p>
I talked with Gram a lot about the trip and shared experiences and insights. It is great to meet someone following a similar journey but in their own unique way. He started his trip on June 20th and was travelling at a more relaxed speed of 50km/60km a day. He planned to make it to Vancouver in September.
</p>

<p>
He was breaking my balls over the fact that I was going east to west and not west to east like him as he had to fight the wind. However, when he saw that my smallest chainring was way bigger than his smallest he then called me superman, complimented my leg strength and asked if I was taking steroids.
</p>

<p>
By the time the conversation ended the clock read 1700. However, I had energy and a desire to cover more ground. I biked out and eventually reached Neys Provincial Park. On the way there I saw a moose. The moose scared me. I was fighting head wind and biking up a hill all at a slow speed. Out of the corner of my eye I saw something move and thought it was hungry bear - I was grateful when I turned around and saw the moose running away into the swamp. The weather got real cold and rainy in the evening and I ended up purchasing some firewood to warm me up. The campground was right near the ocean. I had a good nights sleep that night.
</p>

 <img src="../images/24/mapday24.png">
