  <!--
The Push Home
July 26, 2019
Wiarton
Waterloo
205
--> 

<p>
Today was the push to Waterloo. We left the campground early as one does when staying unannounced and after breakfast we were on the road by 800. We faced a bit of headwind and lots of heat. We reached my home around 2200.
</p>

<p>
First we headed West to Sauble Beach as its been years since I've been there. I wanted to show to Sigi how beautiful southern Ontario is and full of life and farms. The frequency of farms, small towns and rolling corn fields mixed with small forests makes southern Ontario one of my favourite parts of Canada (I am a little biased). I spent a lot of time in highschool biking out into the country outside of Waterloo on my own and really enjoyed it. Today's ride partly traced my route I used to train for my bike trip.
</p>

<p>
My training for the bike trip was nothing special and unorganized. I was generally fit - I could do 15 wide grip pull ups and run 5km. I would bike around when I needed to go to get grocery or school, but was not a professional bicyclist.
</p>

<p>
I did a couple of trips from Waterloo to Toronto by bike (150km) from 700 to 1500. The first time I did such a trip was in fact a year prior (2018) when I borrowed a friend's pannier and challenged myself to make it to Toronto. I made it! It was exciting and felt amazing doing something like that - a lot of my friends thought I was crazy. The second trip was in 2019 in preparation for my Cross Canada trip. I think doing one ride of at least 100km will convince you that you can do a multi day bike touring trip! I think if you can do 30km comfortably you can then push yourself to 100km - you are just sitting on a bike and biking (just pack water...have a cell phone...).
</p>

<p>
In addition, in preparation I ran a couple of bike trips with all my gear. My first trip was to a campground 40km away for an overnight stay and the next weekend to a campground that was 160km away. The 160km trip route coincided with the route chosen for today's ride. The second campground was Saugeen Shores -  I remember that after the 160km trip (in each direction) my legs were sore for a week. In addition, I must have done at least a dozen or so 40km ish bike rides after work in the evenings pushing for speed. In Waterloo, the farmland is nearby where a lot of bicyclists like to go bike and train - many times I got passed by bicyclists who were very fast and had fancy gear and expensive bikes. I noticed myself becoming stronger over the two months of training. Once I started the bike trip - the biking I had done before was sufficient for preparation.
</p>

<p>
The training was not specific and was just - "let's bike for a couple of hours and listen to some music while making sure I am sweating". Once you do a couple of long distance trips (100km ish) you will feel comfortable with long distance. A trip across Canada or across a provinces is just long day bike rides chained together in series with sleep in between. If you can go for a weekend, you can for a week and then take a rest day. This is the same perspective for planning the route - you can't really plan as it depends on so many factors. Take it day by day. In my blogs there were a few days were I went near 200km a day - those are unusual and the impression from most bicyclists I met on the road was that people take it easy and do around 100-140km a day.
</p>

<figure>
<img src="../images/31/IMG_1825.JPG" >
<figcaption>Sauble Beach</figcaption>
</figure> 

<p>
After Sauble beach we did our best to stick to side roads. Near the coast all the cottages had different and creative road signs. Eventually we reached Highway 3 that was headed to Paisely. I was paranoid as I had been on the road over month ago and had experience with the road. It was horrible with no shoulder and cars passing real fast. Sigi thought we should risk it. Once we made it to Paisley she was convinced that we should hit the side roads. Eventually we made it to Walkerton where we had lunch. The same place I had lunch during my previous training trip. After Mildmay the traffic became relatively light and we could ride side by side for most of the time. We stopped at Mildmay for a nice refreshing break.
</p>

<figure>
<img src="../images/31/IMG_1827.JPG" >
<figcaption>My bike. Upon arriving at Waterloo, I weighed my bike: Back pannier 1 (20 pounds), back pannier 2 (14 pounds), front two panniers (15 pounds), bike (31 pounds). Excluding me, my stuff weighed 80 pounds. I repacked on my second leg of my journey to be more compact. I was carrying a lot of stuff like collected license plates.</figcaption>
</figure> 

<figure>
<img src="../images/31/IMG_1828.JPG" >
<figcaption>Sigi's bike. Very compact! You can compare our two bikes. My notes might be off, but her stuff altogether seemed to way around 35 pounds with bike included...</figcaption>
</figure> 

<figure>
<img src="../images/31/IMG_1829.png" >
<figcaption>Fountain of delicious cold water at Mildmay. Locals were filling up jugs with the water to take home. More places should have fountains like this!</figcaption>
</figure> 


<figure>
<img src="../images/31/IMG_1831.JPG" >
<figcaption>The fields of Ontario. Didn't capture the rolling hills in this pic.</figcaption>
</figure> 

<p>
We made our way closer and closer to Waterloo and it was exciting to see the areas I was used to biking around in the past. 
</p>

<figure>
<img src="../images/31/IMG_1833.JPG" >
<figcaption>Hills and farms in the background.</figcaption>
</figure> 

<figure>
<img src="../images/31/IMG_1835.JPG" >
<figcaption>Stopped by a grocery to get some food for the next few days.</figcaption>
</figure> 


<figure>
<img src="../images/31/IMG_1836.JPG" >
<figcaption>When I took my bike inside my home I realized that I barely made it with my back tire. I got the tire in Regina and took it all the way to Waterloo!</figcaption>
</figure> 

<p>
I relaxed in Waterloo till the end of July. The next day, I biked with Sigi to the local MEC where we resupplied on tires and other bike related stuff. On the way there I got to show Waterloo to her. Waterloo has really changed over the past few years - new high-rises and even a new train system. I was very proud to show how nice Waterloo is. I wonder what change will bring to Waterloo in the next ten years - I am sure I will have difficulty recognizing it. I had tools at home so we cleaned and properly tuned our bikes. Sigi left in the afternoon by taking the bus to Toronto. I convinced her that the ride to Toronto (having done it myself) can get a little busy in areas with traffic and is not that worth it. She planned on staying on Toronto, visiting Niagara Falls and then heading further east. She eventually made it all the way to PEI where she took a plane back home. With the head start she had there was no way I could catch up. Farewell!
</p>

<p>
I purchased an air ticket for my flight back during this time period. The ticket was for the 24 August, giving me three weeks to make my way to St John's.
</p>

<img src="../images/31/mapday31.png"> 
