  <!--
Beautiful bike path
August 3, 2019
Pinecrest Resort
Lancaster Park
187
--> 


<p>
The road was very flat today - easy biking. The first 40km from Gananoque had a separate bike path on the side of the road. This was one of the most beautiful stretches of road. No need to worry about cars or anything for 40km. On the bike path I encountered a fellow traveller. He was travelling from Montreal to Niagara and had previously completed a cross Canada trip two years prior. It was an interesting conversation. He was telling me how he couldn't get used to travelling alone as he did his Canada trip with a friend. Whereas for me it was the other way around - I preferred going alone.
</p>

<p>
Biking along the St. Lawrence today was beautiful. The Thousand Island area was beautiful. As a kid this area fascinated me - 'Are there really a Thousand Islands?'. I tried getting my bike checked out at Brockville, but the mechanic was overbooked. Biked past some breweries and did not stop - I'm sure Scott would disapprove. 
</p>


<figure>
<img src="../images/34/IMG_1878.JPG" >
<figcaption></figcaption>
</figure> 

<figure>
<img src="../images/34/IMG_1879.JPG" >
<figcaption></figcaption>
</figure> 

<figure>
<img src="../images/34/IMG_1880.JPG" >
<figcaption></figcaption>
</figure> 

<figure>
<img src="../images/34/IMG_1881.JPG" >
<figcaption></figcaption>
</figure> 


<figure>
<img src="../images/34/IMG_1882.JPG" >
<figcaption>Dodged a big rain cloud near Cornwall.</figcaption>
</figure> 

<figure>
<img src="../images/34/IMG_1883.JPG" >
<figcaption></figcaption>
</figure> 


<img src="../images/34/mapday34.png"> 
