  <!--
The Beautiful St. Lawrence
August 9, 2019
Montmagny
Trois-Pistoles
175
--> 


<figure>
<img src="../images/39/IMG_1988.JPG" >
<figcaption>The farms and country are beautiful. Every small town entrance has a beautiful, custom engraved sign.</figcaption>
</figure> 


<figure>
<img src="../images/39/IMG_1991.JPG" >
<figcaption>Lots of corn. Reminds me of Ontario.</figcaption>
</figure> 


<figure>
<img src="../images/39/IMG_1995.JPG" >
<figcaption>I've been following the St Lawrence for days now. It now has gotten very big and changed colour. I like this picture as it has many  different coloured and textured layers.</figcaption>
</figure> 

<figure>
<img src="../images/39/IMG_1994.JPG" >
<figcaption>A church built in the late 1700s is in every town.</figcaption>
</figure> 

<p>
I was biking hard and fast today and making good progress. I biked past what looked like a brewery/pub where there were many tourists and even bicyclists. I did not stop at all as I wanted to keep biking. However, soon my progress was delayed regardless of my plans as I got a flat.
</p>


<figure>
<img src="../images/39/IMG_2002.JPG" >
<figcaption>My tire was bleeding with the flat - wasted my remaining water cleaning it out.</figcaption>
</figure> 


<figure>
<img src="../images/39/IMG_2005.JPG" >
<figcaption>Rain clouds have been following me all day. Towards the end of the day they caught up to me. I got a little wet and hid the rest of brief rain under the roof of a gas station.</figcaption>
</figure> 

<p>
I was glad to have made it to Trois-Pistoles. I've been noticing a lot of towns with 'Trois' in it.
</p>

<img src="../images/39/mapday39.png"> 
