  <!--
Hitting the Ocean
August 16, 2019
Truro
Porters Lake Provincial Park
126
--> 

<p>
Today was all sun and fun - a little bit of headwind biking south but I made good progress. I slept in and left at 1000. Found three Nova Scotia license plates on the road today - one was buried in the bush and was from the 90s. The road was busy until I hit a lake and biked by its side which eventually took me to Dartmouth. At Dartmouth I took the ferry to Halifax. I hoped to stay at the city hostel and explore the town as it seemed very modern, touristy and clean. When I reached the hostel it was booked and they only had a private room available for 70 a night- pass from me.
</p>


<figure>
<img src="../images/45/IMG_2065.JPG" >
<figcaption>Red roads...am I back in PEI?</figcaption>
</figure>

<figure>
<img src="../images/45/IMG_2073.JPG" >
<figcaption>View from the ferry Dartmouth to Halifax. I was surprised by Halifax's skyline. The city looked very developed. </figcaption>
</figure>

<figure>
<img src="../images/45/IMG_2076.JPG" >
<figcaption>Big ship pulling in.</figcaption>
</figure>

<figure>
<img src="../images/45/IMG_2078.JPG" >
<figcaption>Boats in Dartmouth.</figcaption>
</figure>


<p>
Afraid that the campground will also be full - I booked a place at the campground in advance. Biking there was slow progress. I biked on the highway near the southern shore but the traffic there was very fast and the drivers did not give much space. I ended up listening to Google maps more than I should have and took this direct path between the highway north of me and the highway on the southern shore - it was a dead end with the proposed road going through some rock/gravel path accessible to only ATVs. After the misleading Google maps I ended up taking the highway north of me. Google maps sometimes based on the bicycle option will direct you to not go down some highways - I ignored this advice many times - if there was a shoulder then I generally felt OK.  
</p>

<p>
Mosquitoes were very vicious this evening. I hid in my tent as soon as possible which was after dark as I arrived late. The moon today very beautiful.
</p>


<img src="../images/45/mapday45.png"> 
