  <!--
My Horrible Mistake
August 18, 2019
Sherbrooke
St Peters
152
--> 

<p>
Today was rainy the entire time. Biking from Sherbrooke to the north side of Nova Scotia was mostly quiet with little traffic and beautiful views of valleys. I stopped at St Andrews at the convenience store to get some butter tarts and chocolate milk (don't worry - I did not throw the bottle on the ground). On the north side I saw a deer swimming in small bay (of the ocean). Near Port Hawkesbury the traffic picked up and got very busy. At Port Hawkesbury I had lunch at McDonalds - I talked to a couple of people about my adventure. Most people I talk to are old guys - old guys are the best.
</p>

<p>
I stopped at St Peters - I wish I could go further but the weather was not that great. When registering at the town's campground I had a friendly conversation with the senior camp stuff. We joked and talked about the bad weather - I eventually said - "You have to pay for the sunny days" and they immediately said yes in unison. I was surprised at both the seniors responding so quickly and thought perhaps I naturally discovered an idiom.
</p>


<p>
My horrible mistake is that I did not take into account the departing dates of the ferry. Today was Sunday but the next ferry to Argentia departs on Wednesday. I was already at St Peters which is half a days worth of riding away from Nova Scotia's ferry terminal at Sydney. I will now have to relax in Sydney. Not sure if spending an extra day at Halifax would have been better. I was close enough to my flight date of 24th where I did not want to risk missing the ferry. It doesn't really matter as I didn't have a time machine at the point of my realization.
</p>


<figure>
<img src="../images/47/IMG_2089.JPG" >
<figcaption>Because of the rain, I did not take that many pictures. This is the road not far from St Peters</figcaption>
</figure>






<img src="../images/47/mapday47.png"> 
