<!--
Spending time at Sydney 
August 19, 2019
Saint Peter's
Sydney
152
--> 

<p>
I had breakfast at Tim Hortons in St Peters where I ended up talking to a local old man. He told me many things about the east coast - how people on this side of the land like to take things slow or how nepotism plays a major role in a small town like St Peters or the use of words Townie vs Bayman. The perspective was very interesting - living in Waterloo, none of these things ever crossed my mind.
</p>

<p>
Yesterday I realized that my ferry from Sydney was not for a few days. The 100km bike ride to Sydney today was slow as I knew I did not have to rush. It wasn't lazy slow it was I'm a little tired slow. I stopped for lunch at Me & The Mrs right across from an island filled with RVs. I've seen many RVs during my trip - I still have difficulty understanding the vacation format with them - it is not for me.
</p>

<figure>
<img src="../images/48/IMG_2091.JPG" >
<figcaption>CBC headquarters near Sydney. This is the only picture I took on the 19th as I was too lazy.</figcaption>
</figure>

<p>
Eventually I made it to Sydney and stopped at the Arm of Gold campground. In the evening of the 19th there was a live band at the campground's barn where I enjoyed some local musicians jamming. I only had one full days worth of riding once I crossed to Newfoundland - I was basically done. 19th was Monday and the ferry left on the Wednesday afternoon so I had to kill two nights at Sydney. I spent most of my time relaxing, enjoying the local burger shop - chilling. Similar to my time in PEI, I did not rush or thrash around to see the local views. 
</p>


<p>
Now I will jump ahead a little to the evening of the 21st of August when I boarded the ferry to Newfoundland. I'm putting this date here since I did not really bike this day or the day prior. I choce the direct route because I only had a few days until my flight and figured that biking through parts of rural Newfoundland would bring back memories of Ontario and would therefore be boring. I've met a bicyclist who told me that the northern route is boring so that made me feel less guilty skipping that leg of the journey.
</p>

<p>
I came to the ferry terminal a couple of hours before and told the lady at the till that I had no reservation - she said there is room but that I should have called in advance. I called a few days back and was told that I did not need a reservation and should instead come a couple of hours in advance (no clue what the correct choice is). I asked the lady how many bicyclist tourists she sees - she said around 80 in the past two weeks. People be travelling.
</p>

<figure>
<img src="../images/48/IMG_2128.JPG" >
<figcaption>Waiting to board the ferry. My bike is the leftmost one. Can you spot the bottle of chocolate milk? Two of the front bikes belong to a couple from Calgary. They were surprised by my light packing and fast distance coverage - it is true that I cut back a little weight after visiting my home in Waterloo, but imagine their reaction if they saw Sigi's bike (See day 31).</figcaption>
</figure>

<figure>
<img src="../images/48/bike.png" >
<figcaption>Another bike I saw at the ferry terminal. Look at those panniers....way cheaper than mine and look real sturdy too.</figure>

<figure>
<img src="../images/48/IMG_2129.JPG" >
<figcaption>On the ferry, leaving Sydney.</figcaption>
</figure>

<figure>
<img src="../images/48/IMG_2132.JPG" >
<figcaption>Later that evening..out in the ocean.</figcaption>
</figure>

<p>
I met Jeff later that day. He was from France, but currently based in New York and on a little bike adventure. He travelled from Quebec and had a different style of travel. He spent more times exploring the cities and on the back of his bike carried a large bag that he would use for hiking trips throughout! We had a good time recounting our adventures and talking about out things in general. 
</p>

<p>
Sleeping on the ferry for those peasants that did not purchase a cabin for the trip involved sleeping on the floor in a sleeping bag in one of the common areas. It is not that different from camping so it is fine. The sleeping bag and mattress was way better than most travellers who didn't have that - one lady even asked me if this wasn't my first time taking the ferry.
</p>


<img src="../images/48/mapday48.png"> 
