<!--
Best Day on the Road
June 30, 2019
Golden
Banff
146
-->
<p>
Today was the best day of the entire trip. It was a combination of the views, people I biked with, consistent sunshine and a great evening. 
</p>

<p>
I woke up early, before 600 and after breakfast I was ready to rumble. I noticed a few of the big tour group members getting an early start. I started biking at the same time as 4 of the group's bicyclist were starting their ride. The early ride out of Golden was very hill and I did my best to keep up with the 4. At the very beginning it was challenging with the uphill and they were at a maximum distance of 100m, but eventually I caught up and rode with them together. Even though they had better bikes and no panniers on them, I could not let them beat me. For one of them this was his third trip - the trip was supposed to take a total of 68 days for them (I think). We rode together all the way to Fields after which we split apart.
</p>



<figure>
<img src="../images/8/IMG_1311.JPG" >
<figcaption>Beautiful mountains ahead.</figcaption>
</figure>

<figure>
<img src="../images/8/IMG_1313.png" >
<figcaption>Notice the contrast between the RV size and the height of man made cliff.</figcaption>
</figure>


<figure>
<img src="../images/8/IMG_1316.JPG" >
<figcaption>Every one stopping for a picture. The mirrors on the handle bars are useful. The one I purchased didn't work for me as my back panniers blocked the view - I relied on looking back and mostly my hearing during the trip.</figcaption>
</figure>


<figure>
<img src="../images/8/IMG_1320.JPG" >
<figcaption>Mountain with a crown.</figcaption>
</figure>

<figure>
<img src="../images/8/IMG_1322.JPG" >
<figcaption>Beautiful colours.</figcaption>
</figure>

<figure>
<img src="../images/8/IMG_1327.JPG" >
<figcaption>Near Fields.</figcaption>
</figure>

<figure>
<img src="../images/8/IMG_1329.JPG" >
<figcaption>A rare picture of myself.</figcaption>
</figure>

<p>
After Fields I worked my way to Lake Liouse. When I saw the exit on the highway, I was excited as I was wanted a break. Little did I know that to get to the lake after taking the exit one has to cover a lot of uphill. The road leading to the park was packed with cars slowly making their way up to the parking lot at a crawling pace (it was the Canada day long weekend). I slowly raced against the cars all the way to the park where I took a nice long break.
</p>

<figure>
<img src="../images/8/IMG_1340.JPG" >
<figcaption>Trains and mountains.</figcaption>
</figure>

<figure>
<img src="../images/8/IMG_1345.JPG" >
<figcaption>Another rare picture. I look and feel tired after the previous days worth of biking. My stomach looks huge.</figcaption>
</figure>

<p>
I left the lake and headed to Banff. I knew I wouldn't see anymore of the bike tour group as they were stopping at the lake for the night. On the way to Banff I had a car stop and ask me for directions - imagine that!
</p>

<p>
By the time I reached Banff, the weather was very sunny and I was happy to finally be in the sun. The town was pretty but designed more for high end tourists it seemed. I was grateful to find a spot without reservation at the Tunnel Mountain campground. I purchased a good bottle of red wine and enjoyed the unlimited fire wood offered at the campsite.
</p>


<img src="../images/8/mapday8.png">
